<h1>Add Event</h1>
<form method="post">
    <label for="name" class="alert-info">Event Name: </label>
    <input name="name" type="text" id="name" />
    <label for="description">Description: </label>
    <input name="description" type="text" id="description" />
    <input type="submit" value="Add Event" />
</form>