<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>

@if (ViewBag.events.Count == 0)
{
    <p>No events yet!</p>
}

<table>
    @foreach (var meeting in ViewBag.events)
    {
    <tr>
        <td>@meeting.Name</td>
        <td>@meeting.Description</td>
    </tr>
    }
</table>
